<% provide(:title, 'Home') %>
<script type="text/javascript">
	$(function() {
		$('.carousel').carousel({interval: 6000});
	});	
</script> 



<div class="center hero-unit">
<div id="myCarousel" class="carousel" style="width:920px float:left">
   <h2>Promociones</h2>
  
  
  <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"> <%= image_tag "carousel/banner1.jpg"%></div>
    <div class="item"> <%= image_tag "carousel/banner2.jpg"%></div>
    <div class="item"> <%= image_tag "carousel/banner3.jpg"%></div>
    <div class="item"> <%= image_tag "carousel/banner4.jpg"%></div>
  
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>	
	
  
 <h2>Novedades del mes</h2>
  <div class="row">
        <div class="span3">
          <h2>Samsung Galaxi S2 </h2>
		  <img src="assets/novedades/imagen4.png" />
           <p>LLevate lo mejor y mas nuevo de Samsung </p>
             <p><%= link_to "Más detalles", product_path(9), class: "btn btn-primary btn-large"%></p>
        </div>
        <div class="span3">
          <h2>iPhone 3GS</h2>
		   <img src="assets/novedades/imagen7.png" />
          <p>LLevate lo mejor y mas nuevo de apple </p>
          <p><%= link_to "Más detalles", product_path(12), class: "btn btn-primary btn-large"%></p>
       </div>
        <div class="span3">
          <h2>iPad3 64GB </h2>
		   <img src="assets/novedades/imagen37.png" />
           <p>LLevate lo mejor de las tablets </p>
           <p><a href="#" class="btn btn-primary btn-large">Mas detalles</a></p> 
        </div>
      </div>
 
 
 </div>
 

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

