<% provide(:title, "Iniciar Sesion") %>


<div class="row">
  <h1>Iniciar Sesión</h1>
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Iniciar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>¿Usuario nuevo?<%= link_to "Registrate ahora!", signup_path %></p>
  </div>
</div>