<% provide(:title, 'Accessories') %>
<!--<h1>DynamicPagesProducts#accessories</h1>
<p>Find me in app/views/dynamic_pages_products/accessories.html.erb</p>
-->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Marcas</li>
              <li><%= link_to "Nokia", accessories_path(:mark => "Nokia") %></li>
              <li><%= link_to "Samsung", accessories_path(:mark => "Samsung") %></li>
              <li><%= link_to "Apple", accessories_path(:mark => "Apple") %></li>
              <li><%= link_to "Blackberry", accessories_path(:mark => "Blackberry") %></li>
              <li><%= link_to "Sony", accessories_path(:mark => "Sony") %></li>
              <li class="nav-header">Tipos</li>
              <li><%= link_to "Accesorios para Tablets", accessories_path(:category => "4") %></li>
              <li><%= link_to "Accesorios para Smartphones", accessories_path(:category => "2") %></li>
              <li class="nav-header">Precios</li>
              <li><%= link_to "$150 a $250", accessories_path(:start_price => "150", :end_price => "250") %></li>
              <li><%= link_to "$250 a $350", accessories_path(:start_price => "250", :end_price => "350") %></li>
              <li><%= link_to "$350 a $450", accessories_path(:start_price => "350", :end_price => "450") %></li>
              <li><%= link_to "Mayor a $450", accessories_path(:start_price => "450", :end_price => "2500") %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <br/><br/><br/>
          <ul id="homeItems">
		  <% @accessories.each do |accessory| %>
		  	<li>
			<div class="catItem">
				<div class="itemMedia">
					<!--<img src="<%= raw accessory.image %>" style="height:110px;width:160px;border-width:0px;"/>
					<%= image_tag accessory.image, size:"160x110"%>-->
					<%= link_to image_tag(accessory.image), line_items_path(:product_id => accessory), :method => :post%>
				</div>
				<div class="itemInfo">
					<h3><%= accessory.mark%> <%=accessory.name%> <%= accessory.model%></h3>
					<br /> <br />
					<div class="precio">
						<div>  $
							<span><%= accessory.price %></span>
						</div>
						<br /> <br />
						<p><%= link_to "Más detalles", product_path(accessory.id), class: "btn btn-primary btn-large"%></p>
						<!--<%= button_to 'Agregar al carrito', line_items_path(:product_id => accessory), class: "btn btn-primary btn-large"%>-->
						<%= link_to  line_items_path(:product_id => accessory), class: "btn btn-primary btn-large", :method => :post do%>
						<i class="icon-shopping-cart icon-white"></i> Agregar al carrito 
						<% end%>
					</div>
				</div>
			</div> <!--/catItem-->
			</li>
			<% end %>
		  </ul><!--/homeItems-->
		  
		  <% if @accessories.empty? %>
			<div class="aviso">
			<em> No tenemos existencias de esta marca por el momento </em>
			</div>
		  <% end %>
		</div> <!--/row-fluid-->
      <hr>
	<%= will_paginate @accessories%>
</div><!--/.fluid-container-->
