<% provide(:title, 'SmartPhones') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="well sidebar-nav">
            	<ul class="nav nav-list">
              		<li class="nav-header">Marcas</li>
              		<li ><%= link_to "Nokia", smartphones_path(:mark => "Nokia") %></li>
              		<li><%= link_to "Samsung", smartphones_path(:mark => "Samsung") %></li>
              		<li><%= link_to "Apple", smartphones_path(:mark => "Apple") %></li>
              		<li><%= link_to "Blackberry", smartphones_path(:mark => "Blackberry") %></li>
              		<li><%= link_to "Sony", smartphones_path(:mark => "Sony") %></li>
              		<li class="nav-header">Modelos</li>
              		<li><%= link_to "800", smartphones_path(:model => "800") %></li>
              		<li><%= link_to "710", smartphones_path(:model => "710") %></li>
              		<li><%= link_to "N9", smartphones_path(:model => "N9") %></li>
              		<li><%= link_to "S II", smartphones_path(:model => "S II") %></li>
              		<li><%= link_to "Ace", smartphones_path(:model => "Ace") %></li>
              		<li><%= link_to "4", smartphones_path(:model => "4") %></li>
              		<li class="nav-header">Precios</li>
		            <li><%= link_to "1500 a 2500", smartphones_path(:start_price => "1500", :end_price => "2500") %></li>
		            <li><%= link_to "2500 a 3500", smartphones_path(:start_price => "2500", :end_price => "3500") %></li>
		            <li><%= link_to "3500 a 4500", smartphones_path(:start_price => "3500", :end_price => "4500") %></li>
					<li><%= link_to "Mayor a $4500", smartphones_path(:start_price => "4500", :end_price => "16000") %></li>
            	</ul>
			</div><!--/.well -->
        </div><!--/span-->
        <!--<div class="span10">-->
        	<br /><br /><br />        
          <ul id="homeItems">
		  <% @smartphones.each do |smartphone| %>
		  	<li>
			<div class="catItem">
				<div class="itemMedia">
					<!--<img src="<%= raw smartphone.image %>" style="height:110px;width:160px;border-width:0px;"/>-->
					<%= link_to image_tag(smartphone.image), line_items_path(:product_id => smartphone), :method => :post%>
				</div>
				<div class="itemInfo">
					<h3><%= smartphone.mark%> <%=smartphone.name%> <%= smartphone.model%></h3>
					<div class="precio">
						<div>  $
							<span><%= smartphone.price %></span>
						</div>
						<!--<p><a class="btn btn-primary btn-large" href="#">Más Detalles a  articulo <%= smartphone.id%></a></p>--> 
						<p><%= link_to "Más detalles", product_path(smartphone.id), class: "btn btn-primary btn-large"%></p>
						<!--<%= button_to 'Agregar al carrito', line_items_path(:product_id => smartphone), class: "btn btn-primary btn-large"%>-->
						<%= link_to  line_items_path(:product_id => smartphone), class: "btn btn-primary btn-large", :method => :post do%>
						<i class="icon-shopping-cart icon-white"></i> Agregar al carrito 
            			<% end%>
					</div>
				</div>
				<!--
				<div class="description">
					<%= smartphone.description%>
				</div>
				-->
			</div> <!--/catItem-->
			</li>
			<% end %>
		  </ul><!--/homeItems-->
		  
		  <% if @smartphones.empty? %>
			<div class="aviso">
			<em> No tenemos existencias de esta marca por el momento </em>
			</div>
		  <% end %>
		</div> <!--/row-fluid-->
      <hr>
	<%= will_paginate @smartphones%>
</div><!--/.fluid-container-->
