<script type="text/javascript">
	$(function() {
		$('#descripcion p').each(function() {
			var lista = "<ul id='caracteristicas'>";
			var prev = $(this).html();
			var str = prev.replace(/\s([A-Z])/g, ",$1");
			var arreglo = str.split(",");
			for(var i = 0; i < arreglo.length; i++) {
				lista += "<li>" + arreglo[i] + "</li> <br />";
			}
			lista += "</ul>";
			$(this).html(lista);
			
		});
		
		
	});
</script>
<style type="text/css">
	
</style>
<div class="hero-unit">
	<div class="row-fluid">
		<div class="span4">
			<!--<img src="<%= raw @product.image %>" style="height:110px;width:160px;border-width:0px;"/>-->
			<%= image_tag(@product.image, size:"160x110")%>	
		</div>
		<div class="span8 offset2">
			<div class="itemInfo">
				<h3><%= @product.mark%> <%= @product.name%> <%= @product.model%></h3>
				<div class="precio">
					$ <span> <%= @product.price%></span>
				</div>
				<div id="descripcion">
					<p><%= @product.description%></p>
				</div>
			</div>
			<div class="row">
				<%= link_to  line_items_path(:product_id => @product.id), class: "btn btn-primary btn-large", :method => :post do%>
				<i class="icon-shopping-cart icon-white"></i> Agregar al carrito 
				<% end%>
			</div>
		</div>
	</div>
</div>