<footer class="footer">
  <small>
  	<br><br>
    Desarrollado por Mobile
  </small>
  <nav>
    <ul>
    	<br><br>
      <li><%= link_to "Aviso Privacidad",   aviso_path %></li>
      <li><%= link_to "Condiciones de Uso",   uso_path %></li>	
      <li><%= link_to "Ayuda", help_path %></li>
      <li><%= link_to "SiteMap",   sitio_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>